doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Simple Login Form Example
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700')
  link(rel='stylesheet' href='/styles/user/login.css')
  // JavaScript
  script(src='//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js')
  // CSS
  link(rel='stylesheet' href='//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css')
  // Default theme
  link(rel='stylesheet' href='//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css')
  // Semantic UI theme
  link(rel='stylesheet' href='//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css')
  // Bootstrap theme
  link(rel='stylesheet' href='//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css')
// partial:index.partial.html
.login-form
  form
    h1 Login
    .content
      .input-field
        input#email(type='email' placeholder='Email' autocomplete='nope')
      .input-field
        input#pass(type='password' placeholder='Password' autocomplete='new-password')
      a.link(href='#') Forgot Your Password?
    .action
      button( onClick="(function(){document.location = `/user/signup`})();return false;") Register
      button#submit Sign in
// partial
script(src='/scripts/user/login.js')
